{% load static %}

<ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
        <div class="dropdown profile-element">
                <span>
                    <a href="#">
                        <img class="center-block img-responsive" src="{% static 'img/CUBESOA1.png' %}" style="width: 150px;" />
                    </a>
                </span>
                <br>
                <h4 class="text-center" style="color:#FFF;">Artis</h4>
        </div>
        <div class="logo-element">
            ARTIS
        </div>
    </li>
    <li>
        <a href="{% url 'index' %}"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
    </li>
    <li>
        <a href="{% url 'my_profile' %}"><i class="fa fa-user"></i> <span class="nav-label">Mi Perfil</span></a>
    </li>
<!--
    <li>
        <a href="#"><i class="fa fa-plus"></i> <span class="nav-label">Nuevo Programa</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-cog "></i> <span class="nav-label">Configuración</span></a>
        <ul class="nav nav-second-level collapse">
                <li><a href="#">Alertas</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Panel de Restricciones</a></li>
        </ul>
    </li>
-->
